@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap");

$primary-dark-color: linear-gradient(180deg, rgba(2, 22, 66, 0.8) 0%, rgba(60, 38, 50, 0.8) 100%),
  linear-gradient(180deg, rgba(1, 24, 74, 0.8) 0%, rgba(27, 102, 176, 0.8) 67.19%);
$primary-light-color: #baaa81;
$primary-dark-solid: #021642;
$primary-lightest-color: #dbd3c0;

// h1 mobile 600 36px , h3 mobile 700 24px, h6 mobile 300 18px, button text 700 18px,
// h1 desktop 600 89px, h3 desktop 700 32px, h6 desktop 500 32px,

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .add-cursor {
//   cursor: pointer;
//   // pointer-events: auto;
// }

body {
  font-family: "Raleway", sans-serif;
}

h1,
h3,
h4,
h6,
a,
p {
  color: $primary-light-color;
}
// Mobile design

h1 {
  font-weight: 600;
  font-size: 36px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

h6 {
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  padding: 16px 0px 16px 0px;
  background: none;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: $primary-light-color;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.description-link {
  text-decoration: underline;
  font-style: italic;
}
.page-title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 24px;
}

// App
.app-container {
  background-image: $primary-dark-color;
  z-index: -2;
  width: 100%;
  height: 100%;
}
// Home

.home {
  &-container {
    width: 100%;
    height: 100vh;
    &-text {
      padding: 16px;
    }
    &-hamburger {
      display: flex;
      justify-content: flex-end;
    }
  }
  &-summary {
    margin-top: 24px;
    max-width: 500px;
  }
  &-projects-button {
    border: solid 2px $primary-light-color;
    padding: 8px 32px 8px 32px;
    border-radius: 1rem;
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 3;
    &-container {
      position: absolute;
    }
  }
  &-link {
    &-container {
      position: absolute;
    }
    &-linkedin {
      position: relative;
      left: 24px;
      top: 16px;
    }
    &-github {
      position: relative;
      left: 24px;
      top: 72px;
    }
  }
}

.hamburger-menu {
  padding: 16px 16px 0px 0px;
  size: 50px;
}

.izzy-background {
  &-container {
    position: absolute;
    width: 100%;
  }
  &-img {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 800px;
    // height: auto;
    max-height: fit-content;
  }
}
// Nav
.nav-modal {
  background-color: $primary-dark-color;
}

.nav-overlay {
  background-color: $primary-dark-color;
}

.nav-container {
  height: 100vh;
  background-color: $primary-dark-color;
  &-options {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
  }
}

.nav-close-tab {
  padding: 16px 16px 0px 0px;
  size: 50px;
  cursor: pointer;
}

.nav-options {
  padding: 40px 40px;
}

// Projects

.projects {
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    &-all-cards {
      display: flex;
      justify-content: center;

      flex-direction: column;
    }
    &-card {
      border: solid 2px $primary-light-color;
      border-radius: 1rem;
      width: 288px;
      height: 288px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 32px;
    }
  }
  &-card {
    &-title {
      border-bottom: solid 2px $primary-light-color;
      width: 100%;
    }
    &-img {
      width: 100%;
      height: 229px;

      object-fit: cover;
      border-radius: 0 0 0.8rem 0.8rem;
    }
  }
}

// Projects Modal

.projects-modal {
  &-container {
    padding: 16px;
  }
  &-list {
    padding: 16px;
    color: $primary-light-color;
  }

  &-github-button {
    border: solid 2px $primary-light-color;
    padding: 8px 32px 8px 32px;
    border-radius: 1rem;
    margin: 16px;
    background-image: $primary-dark-color;
    &-container {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
  &-close-container {
    display: flex;
    justify-content: flex-end;
  }
}

//Bio
.bio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.bio-text-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: center;
  flex-wrap: wrap;
  max-width: 800px;
  &-paragraph {
    padding: 0px 16px 16px 16px;
  }
}
.bio-paragraph {
  font-size: 18px;
  line-height: 1.6;
}

// Contact

.contact-container {
  height:100vh;
}
.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 288px;
  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &-input {
      width: 100%;
      padding-bottom: 24px
    }
  }
  &-input {
    width: 288px;
    padding-top: 8px;
    padding-bottom:8px;
    padding-left: 8px;
    outline: none;
    background-color: $primary-lightest-color;
    border: none;
    border-radius: .3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $primary-dark-solid;
    &-name {

    }
    &-email {

    }
    &-subject {

    }
    &-textarea {
      resize: none;
    }
    &-send {
    border: solid 2px $primary-light-color;
    border-radius: 1rem;
    background-image: $primary-dark-color;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    width: 50%;
    cursor: pointer;
    color: $primary-light-color;
    }

  &::placeholder {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  }

&-submission-text {
  padding: 40px;
  text-align: center;
  

}
&-refresh-button {
  border: solid 2px $primary-light-color;
  border-radius: 1rem;
  background-image: $primary-dark-color;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 16px 8px 16px;
  width: 50%;
  cursor: pointer;
}

}
// Turn off for mobile
.desktop-nav-container {
  display: none;
}

@media (min-width: 901px) {
  h1 {
    font-weight: 600;
    font-size: 60px;
  }

  h3 {
    font-weight: 700;
    font-size: 32px;
  }

  h4 {
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
  }

  h6 {
    font-weight: 500;
    font-size: 18px;
  }

  .desktop-nav-options:hover,
  .projects-container-card:hover,
  .desktop-nav-link-linkedin:hover,
  .desktop-nav-options:hover,
  .desktop-nav-link-github:hover,
  .projects-modal-github-button:hover,
  .contact-form-input-send:hover
   {
    transform: scale(1.15);
  }

  .page-title-container {
    padding: 80px;
  }
  .home-container-hamburger,
  .home-link-container {
    display: none;
  }

  .home-container-text {
    padding: 32px;
  }

  .desktop {
    //Nav (desktop) not a component
    &-nav {
      &-container {
        width: 100%;
        display: flex;
        justify-items: space-between;
        align-items: center;
        padding: 24px;
        background-color: $primary-dark-solid;

        &-left {
          width: 50%;
          display: flex;
          justify-content: flex-start;
        }

        &-right {
          width: 50%;
          display: flex;
          list-style: none;
          justify-content: flex-end;
        }
      }
      &-options,
      &-link-container {
        padding: 0px 0px 0px 32px;
        cursor: pointer;
      }
    }
  }
  .projects {
    &-container {
      width: 100%;
      height: 100vh;
      display: flex;
      &-all-cards {
        width: 100%;
        height: 288px;
        justify-content: space-evenly;

        flex-direction: row;
      }
    }
  }
}
@media (min-width: 1200px) {
  // h1 desktop 89px, h3 desktop 32px, h4 desktop 32px, h6 desktop 32px,

  h1 {
    font-size: 89px;
  }
  h3,
  h4,
  h6 {
    font-size: 32px;
  }

  button {
    font-size: 22px;
    cursor: pointer;
  }
}

.projects-card-img {
  border-bottom: solid 2px $primary-light-color;
  border-radius: 0 0 1rem 1rem;
}
